{% extends 'base.html.twig' %}

{% block content %}
    <!-- 1st page - Cover -->
    <title>Accueil</title>
    <div class="pt-4 pb-40 tracking-widest bg-blue">
        <h3 class="ml-32 mt-20 text-orange text-2xl" style="letter-spacing: 5.5px">
            Jay Cormier
        </h3>
        <h1 class="ml-32 mt-4 text-white text-6xl font-black">
            Spécialiste Copywriter
        </h1>
        <h6 class="ml-52 mt-2 mb-4 text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h6>
        <div class="ml-12 mt-60">
            <button type="button" class="btn btn-outline-white" data-mdb-ripple-color="white">Contact</button>
        </div>

    </div>
    <!-- 2nd page - Service -->
    <div class="pt-10 bg-cream">
        <h6 class="text-center text-orange font-light tracking-widest uppercase">
            Service
        </h6>
        <h1 class="m-10 text-center text-dark_brown font-extrabold text-4xl">
            Lorem Ipsum Dolor Sit
        </h1>
        <div class="flex flex-col lg:flex-row justify-center mb-40 items-center">
            <div class="w-1/3 border-solid border-orange rounded-l-md">
                <div class="m-10 p-4 rounded-full bg-orange w-20 h-20">
                    <img src="{{ asset('images/pencil.svg') }}" class="h-8" alt="Pencil">
                    <h3 class="text-dark_brown font-bold text-xl" style="letter-spacing: 3px">Copywriting</h3>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote m-3 mb-9 text-shadow">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    </blockquote>
                </div>
            </div>
            <div class="mt-8 lg:mt-0 w-1/3 border-solid border-orange rounded-r-md">
                <div class="m-10 p-4 rounded-full bg-orange w-20 h-20">
                    <img src="{{ asset('images/message.svg') }}" class="h-8" alt="Message">
                    <h3 class="text-dark_brown font-bold text-xl" style="letter-spacing: 3px">Extens Consulting</h3>

                </div>
                <div class="card-body">
                    <blockquote class="blockquote m-3 mb-9 text-shadow">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    </blockquote>
                </div>
            </div>
        </div>
        <!-- 3rd page - Travaux -->
        <div class="bg-blue">
            <div class="p-5">
                <h1 class="text-white text-4xl font-black m-4 mb-7">Mes Derniers Travaux</h1>
                <div class="grid grid-cols-5">
                    <div class="flex flex-col col-span-3 border-blue p-1">
                        <div class="bg-image m-2">
                            <img src="{{ asset('images/1st_image.jpg') }}" class="object-cover w-full"
                                 alt="Picture of phone">
                            <div class="mask bg-shadow"></div>
                            <span class="tag absolute bottom-10 left-8 text-dark_brown text">Extens Consulting</span>
                            <span class="absolute bottom-3 left-8 text-white font-extrabold">Titre du projet</span>
                        </div>
                        <div class="border-t-blue">
                            <div class="bg-image m-2">
                                <img src="{{ asset('images/3rd_image.jpg') }}" class="object-cover w-full"
                                     alt="Picture of keyboard">
                                <div class="mask bg-shadow"></div>
                                <span class="tag absolute bottom-10 left-8 text-dark_brown text">Copywriting</span>
                                <span class="absolute bottom-3 left-8 text-white font-extrabold">Titre du projet</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-2 border-blue p-2">
                        <div class="bg-image">
                            <img src="{{ asset('images/2nd_image.jpg') }}" class="object-cover h-full"
                                 alt="Picture of mac">
                            <div class="mask bg-shadow"></div>
                            <span class="tag absolute bottom-10 left-8 text-dark_brown text">Extens Consulting</span>
                            <span class="absolute bottom-3 left-8 text-white font-extrabold">Titre du projet</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center mt-60 ">
                    <div class="hr"></div>
                    <span class="mt-2 text-center text-white">Logo</span>
                </div>
            </div>
        </div>
        <!-- 4th page - Contact -->
        <div class="bg-cream pt-10 pb-10">
            <h6 class="text-center text-orange font-light tracking-widest uppercase">
                Contact
            </h6>
            <h1 class="m-10 text-center text-dark_brown font-extrabold text-4xl">
                Lorem Ipsum Dolor Sit
            </h1>
            <div class="lg:grid lg:grid-cols-2 lg:gap-4 lg:content-start">
                <div class="m-10 p-2 rounded-full bg-calendly w-9 h-9 ml-72">
                    <img src="{{ asset('images/calendly.svg') }}" class="h-5" alt="Logo Calendly">
                    <div>Calendly</div>
                </div>
                <div class="m-10 p-2 rounded-full bg-orange w-9 h-9 ml-72">
                    <img src="{{ asset('images/mail.svg') }}" class="h-5" alt="Mail">
                    <div>Email</div>
                </div>
                <iframe class="m-12 sm:w-full lg:w-4/5 sm:h-32 lg:h-96 border-orange rounded-md"
                        src="https://calendly.com/jay-cormier/15min">
                </iframe>
                <div class="m-12 sm:w-full lg:w-4/5 sm:h-32 lg:h-96 border-orange rounded-md bg-white">
                    <form action="submit" method="post">
                        <div>
                            <input class="" id="mail" placeholder="Lorem ipsum"/>
                            <label class="form-label" for="mail">Adresse mail</label>
                        </div>
                        <div>
                            <input class="" placeholder="Lorem ipsum"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 5th page - Footer -->
{% endblock %}
