{% extends 'base.html.twig' %}

{% block content %}
    <!-- 1st page - Cover -->
    <title>Projets</title>
    <div class="py-24 tracking-widest bg-blue text-center text-white text-6xl font-black">
        Lorem Ipsum
    </div>
    <!-- 2nd page -->
    <div class="bg-cream py-20">
        <div class="flex justify-evenly my-20 mx-96 text-2xl font-light">
            <span class="text-dark_brown">Tous</span>
            <span class="text-light_brown">Extens Consulting</span>
            <span class="text-light_brown">Copywriting</span>
        </div>
        <div class="text-orange font-bold text-xl ml-20">
            Extens Consulting
        </div>
        <div class="flex justify-around my-20">
            <div class="bg-image m-2 rounded-[12px] w-96" style="aspect-ratio: 4/5">
                <img src="{{ asset('images/1st_image.jpg') }}" class="object-cover w-full h-full"
                     alt="Picture of phone">
                <div class="mask bg-shadow"></div>
                <span class="tag tag-title">Extens Consulting</span>
                <span class="project-title">Titre du projet</span>
            </div>
            <div class="bg-image m-2 rounded-[12px] w-96" style="aspect-ratio: 4/5">
                <img src="{{ asset('images/1st_image.jpg') }}" class="object-cover w-full h-full"
                     alt="Picture of phone">
                <div class="mask bg-shadow"></div>
                <span class="tag tag-title">Extens Consulting</span>
                <span class="project-title">Titre du projet</span>
            </div>
            <div class="bg-image m-2 rounded-[12px] w-96" style="aspect-ratio: 4/5">
                <img src="{{ asset('images/2nd_image.jpg') }}" class="object-cover w-full h-full"
                     alt="Picture of phone">
                <div class="mask bg-shadow"></div>
                <span class="tag tag-title">Extens Consulting</span>
                <span class="project-title">Titre du projet</span>
            </div>
        </div>
        <div class="flex justify-around my-20">
            <div class="bg-image m-2 rounded-[12px] w-96" style="aspect-ratio: 4/5">
                <img src="{{ asset('images/1st_image.jpg') }}" class="object-cover w-full h-full"
                     alt="Picture of phone">
                <div class="mask bg-shadow"></div>
                <span class="tag tag-title">Extens Consulting</span>
                <span class="project-title">Titre du projet</span>
            </div>
            <div class="bg-image m-2 rounded-[12px] w-96" style="aspect-ratio: 4/5">
                <img src="{{ asset('images/3rd_image.jpg') }}" class="object-cover w-full h-full"
                     alt="Picture of phone">
                <div class="mask bg-shadow"></div>
                <span class="tag tag-title">Extens Consulting</span>
                <span class="project-title">Titre du projet</span>
            </div>
            <div class="bg-image m-2 rounded-[12px] w-96" style="aspect-ratio: 4/5">
                <img src="{{ asset('images/1st_image.jpg') }}" class="object-cover w-full h-full"
                     alt="Picture of phone">
                <div class="mask bg-shadow"></div>
                <span class="tag tag-title">Extens Consulting</span>
                <span class="project-title">Titre du projet</span>
            </div>
        </div>
        <div class="flex justify-around mt-20">
            <div class="bg-image m-2 rounded-[12px] w-96" style="aspect-ratio: 4/5">
                <img src="{{ asset('images/1st_image.jpg') }}" class="object-cover w-full h-full"
                     alt="Picture of phone">
                <div class="mask bg-shadow"></div>
                <span class="tag tag-title">Extens Consulting</span>
                <span class="project-title">Titre du projet</span>
            </div>
        </div>
        <!-- Copywriting -->
        <div class="text-orange font-bold text-xl ml-20 mt-20">
            Copywriting
        </div>
        <div class="flex justify-around mt-20">
            <div class="bg-image m-2 rounded-[12px] w-96" style="aspect-ratio: 4/5">
                <img src="{{ asset('images/1st_image.jpg') }}" class="object-cover w-full h-full"
                     alt="Picture of phone">
                <div class="mask bg-shadow"></div>
                <span class="tag tag-title">Copywriting</span>
                <span class="project-title">Titre du projet</span>
            </div>
            <div class="bg-image m-2 rounded-[12px] w-96" style="aspect-ratio: 4/5">
                <img src="{{ asset('images/2nd_image.jpg') }}" class="object-cover w-full h-full"
                     alt="Picture of phone">
                <div class="mask bg-shadow"></div>
                <span class="tag tag-title">Copywriting</span>
                <span class="project-title">Titre du projet</span>
            </div>
            <div class="bg-image m-2 rounded-[12px] w-96" style="aspect-ratio: 4/5">
                <img src="{{ asset('images/1st_image.jpg') }}" class="object-cover w-full h-full"
                     alt="Picture of phone">
                <div class="mask bg-shadow"></div>
                <span class="tag tag-title">Copywriting</span>
                <span class="project-title">Titre du projet</span>
            </div>
        </div>
        <div class="flex justify-around my-20">
            <div class="bg-image m-2 rounded-[12px] w-96" style="aspect-ratio: 4/5">
                <img src="{{ asset('images/3rd_image.jpg') }}" class="object-cover w-full h-full"
                     alt="Picture of phone">
                <div class="mask bg-shadow"></div>
                <span class="tag tag-title">Copywriting</span>
                <span class="project-title">Titre du projet</span>
            </div>
            <div class="bg-image m-2 rounded-[12px] w-96" style="aspect-ratio: 4/5">
                <img src="{{ asset('images/1st_image.jpg') }}" class="object-cover w-full h-full"
                     alt="Picture of phone">
                <div class="mask bg-shadow"></div>
                <span class="tag tag-title">Copywriting</span>
                <span class="project-title">Titre du projet</span>
            </div>
        </div>
    </div>
{% endblock %}

