{% extends 'base.html.twig' %}


{% block content %}

    <!-- 1st page - Cover -->
    <title>Admin</title>
    <div class="bg-cream py-10">
        <div class="font-black text-3xl ml-10">
            <a href="/backoffice">< Retour</a>
        </div>
        <div class="flex justify-evenly grid-cols-2">
            <div>
                <div class="mt-4 ml-20 font-medium text-xl">
                    Créer un projet:
                </div>
                <div class="mt-2 ml-20">
                    {{ form_start(card) }}
                    <div class="form-group">
                        {{ form_label(card.title) }}
                        {{ form_widget(card.title, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(card.image_url) }}
                        {{ form_widget(card.image_url, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(card.link_url) }}
                        {{ form_widget(card.link_url, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(card.description) }}
                        {{ form_widget(card.description, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    {{ form_widget(card.save, { 'attr': {'class': 'btn btn-primary'} }) }}
                    {{ form_end(card) }}
                </div>
            </div>
            <div>
                <div class="mt-4 ml-20 font-medium text-xl">
                    Liste des projets:
                </div>
                <div class="mt-2 ml-20">
                    <ul>
                        {% for card in cards %}
                            <div class="mt-2 flex">
                                <div class="mr-2">
                                    <a href="card/editCard/{{ card.id }}">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </div>
                                <a href="card/removeCard/{{ card.id }}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                                <li class="ml-2">{{ card.title }}</li>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 5th page - Footer -->

{% endblock %}