<div class="bg-blue">
    <div class="p-5">
        <h1 class="text-white text-4xl font-black m-4 mb-7">Mes Derniers Travaux</h1>
        <div class="grid grid-cols-5">
            <div class="flex flex-col col-span-3 border-blue p-1">
               {# <div class="bg-image m-2">
                    <img src="{{ asset('images/1st_image.jpg') }}" class="object-cover w-full"
                         alt="Picture of phone">
                    <div class="mask bg-shadow"></div>
                    <span class="tag tag-title">Extens Consulting</span>
                    <span class="project-title">Titre du projet</span>
                </div>
                <div class="border-t-blue">
                    <div class="bg-image m-2">
                        <img src="{{ asset('images/3rd_image.jpg') }}" class="object-cover w-full"
                             alt="Picture of keyboard">
                        <div class="mask bg-shadow"></div>
                        <span class="tag tag-title">Copywriting</span>
                        <span class="project-title">Titre du projet</span>
                    </div>
                </div>
            </div>
            <div class="col-span-2 border-blue p-2">
                <div class="bg-image hover-zoom">
                    <img src="{{ asset('images/2nd_image.jpg') }}" class="object-cover h-full"
                         alt="Picture of mac">
                    <div class="mask bg-shadow"></div>
                    <span class="tag tag-title">Extens Consulting</span>
                    <span class="project-title">Titre du projet</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center mt-60 ">
            <div class="hr"></div>
            <span class="mt-2 text-center text-white">Logo</span>
        </div>
    </div>
</div>#}

                <div class="bg-image m-2 hover:grayscale hover-zoom h-56">
                    <img src="{{ cards[0].imageUrl }}" class="object-cover w-full h-full"
                         alt="{{ cards[0].descImage }}">
                    <a href="{{ cards[0].linkUrl }}" target="_blank">
                        <div class="mask"></div>
                    </a>
                    <span class="tag tag-title">Extens Consulting</span>
                    <span class="project-title">{{ cards[0].title }}</span>
                </div>
                <div class="border-t-blue">
                    <div class="bg-image m-2 hover:grayscale hover-zoom h-56">
                        <img src="{{ cards[1].imageUrl }}" class="object-cover w-full h-full"
                             alt="{{ cards[1].descImage }}">
                        <a href="{{ cards[1].linkUrl }}" target="_blank">
                            <div class="mask"></div>
                        </a>
                        <span class="tag tag-title">Copywriting</span>
                        <span class="project-title">{{ cards[1].title }}</span>
                    </div>
                </div>
            </div>
            <div class="flex col-span-2 border-blue p-2 h-full">
                <div class="bg-image hover:grayscale hover-zoom m-1">
                    <img src="{{ cards[2].imageUrl }}" class="object-cover h-full w-full"
                         alt="{{ cards[2].descImage }}">
                    <a href="{{ cards[2].linkUrl }}" target="_blank">
                        <div class="mask"></div>
                    </a>
                    <span class="tag tag-title">Extens Consulting</span>
                    <span class="project-title">{{ cards[2].title }}</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center mt-60 ">
            <div class="hr"></div>
            <span class="mt-2 text-center text-white">Logo</span>
        </div>
    </div>
</div>