<header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-blue">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarCenteredExample"
                    aria-controls="navbarCenteredExample"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div
                    class="collapse-mdb navbar-collapse"
                    id="navbarCenteredExample"
            >
                <!-- Left links -->
                <ul class="navbar-nav  me-auto mb-2 mb-lg-0 flex justify-between">
                    <div class=" flex justify-between">
                        <li class="nav-item">
                            <a class="nav-link text-white"
                               href="{{ url('home') }}">JC</a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link text-white {{ app.request.get('_route') == '_list' ? 'text-orange' }}"
                           href="{{ url('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white {{ app.request.get('_route') == '_list' ? 'text-orange' }}"
                           href="{{ url('about') }}">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white {{ app.request.get('_route') == '_list' ? 'text-orange' }}"
                           href="{{ url('service') }}">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white {{ app.request.get('_route') == '_list' ? 'text-orange' }}"
                           href="{{ url('getCardsTags') }}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <!-- Right Link - Button trigger Contact Navbar-->
                        <div class="flex justify-end">
                            <button type="button" class="btn btn-outline-white" data-mdb-toggle="modal"
                                    data-mdb-target="#formChoose" data-mdb-ripple-color="white">
                                Contact
                            </button>
                        </div>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
</header>
